<div class="search_main_cont" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" >

  <div class="h1_div">
    <h1 >Search <span id="demo"> </span> </h1>
  </div>
  <div class="search_form_div">
    <form class="search_form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input class="search_form_search_input" type="text" placeholder="Type your word here..." formControlName="searchWord">
      <mat-form-field class="example-full-width word_language" floatLabel="never">
        <input type="text" placeholder="Choose language" aria-label="Assignee" matInput formControlName="searchLanguage" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}  - {{option.code}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field  class="word_options" floatLabel="never">
        <mat-label>Additional Fields</mat-label>
        <mat-select   formControlName="searchAssociation"  multiple  >
          <mat-option *ngFor="let list of additionalList" [value]="list.apiName" >{{list.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button class="search_button"> search </button>
    </form>
  </div>


  <app-laoder class="loading" *ngIf="isLoading"></app-laoder>

</div>
