@import "../../../variables";

.search_main_cont {
  background-image: url("../../../assets/img/search/search_background.jpg");
  background-position: center;
  background-attachment: fixed;
  padding: 50px 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 500px;
.loading{
  position: absolute;
  top: 50%;
}
  .h1_div {
    color: white;
  }

  .search_form_div {


    .search_form {
      background-color: white;
      border-radius: 15px;
      height: 50px;
      .word_options, .word_language {
        height: 36px;
        border-left: 1px solid rgba(0, 0, 0, .54);
        border-right: 1px solid rgba(0, 0, 0, .54);
        padding-left: 5px;
      }

      .word_options {
        border: none;
      }

      .search_form_search_input {
        height: 36px;
        padding: 0 5px;
        border: none;;
        outline: none;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: -1px;
        border-radius: 15px;
        @include inputPlaceholder () {
          color: rgba(0, 0, 0, .54);

        }
      }

      .search_button {
        color: rgb(255, 251, 251);
        font-size: 17px;
        height: 50px;
        background-color: #3f51b5;
        border-radius: 0 12px 12px 0;



      }

    }

  }
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}

::ng-deep .mat-form-field-infix {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin: 0 !important;
}
