@import "../../../variables";

.search_main_cont {
  background-image: url("../../../assets/img/search/search_background.jpg");
  background-position:center;
  background-attachment: fixed;
  padding: 50px 10px;
  .h1_div {
color: white;
  }

  .search_form_div {


    .search_form {
      background-color: white;

      .word_options,.word_language {
        height: 36px;
        border-left: 1px solid rgba(0,0,0,.54);
        border-right: 1px solid rgba(0,0,0,.54);
        padding-left: 5px;
      }
      .word_language{
        border-right: none;
      }

      .search_form_search_input {
        height: 36px;
        padding: 0 5px;
        border: none;;
        outline: none;
        @include inputPlaceholder () {
          color: lime;
        }
      }


    }

  }
}




::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}

::ng-deep .mat-form-field-infix {
  border: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin: 0 !important;
}
